h1 {
  font-size: 72px;
  -webkit-text-stroke: 1px royalblue;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
li{ font-size: 20px;
}
.help-block{ 
   color: white;
}
