
body{
    background-image: url("images/eye.jpg");
    background-size: cover;
    color: whitesmoke
}
.navbar-right img{
    height:32px;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.navbar{
    background: gold;
    text-align: center;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{   
    background: gold;
}
h1 {
    margin: .67em 0;
    font-size: 2em !important;
    text-align: center;
    text-decoration-line: underline overline;
     -moz-text-decoration-color:black;
    text-decoration-color: black;
    text-decoration-style: wavy
    
}
h2{ 
    text-decoration: underline turquoise;
    text-shadow:2px 2px black !important;
    text-align: left;
    text-decoration-style: wavy;
    }
p{ 
    font-size: 28px;
}
.carousel {
    width:300px;
    display: block;
    margin: 0 auto;
}
.carousel-inner {
    height: 300px;
}
.carousel-inner img {
    width: 100%;
    height:100%
}